body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0%;

}

.head-site {
  width: 100%;
  height: 100%;
   
}

.botao-centro {
    text-align: center;
}

.botao {
    border-radius: 10px;
    background-color: #B948AB;
    height: 40px;

}

.botao-flutuante {
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 15px;

    width: 50px;
    height: 50px;
    border: 1px solid #FD7D3F;
    border-radius: 50%;
    color: #FD7D3F;
}

.Afonte {

    cursor: pointer;

    padding-left: 90%;


}

.seta {
    width: 20px;
    height: 20px;
}

.img-pr {
    height: 570px;
}

.box-img {
    background-image: url(Wanessa-20240122T203201Z-001/Wanessa/IMG_6324.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 60px;
    padding-bottom: 80px;
}
.box-img1 {
    background-image: url(Polyana-20240122T203455Z-001/Polyana/IMG_5848.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 60px;
    padding-bottom: 40px;
}
.box-img2 {
    background-image: url(Lícia-20240122T203150Z-001/Lícia/capaL.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
}
.box-img3 {
    background-image: url(Raíssa-20240122T203200Z-001/Raíssa/IMG_6018.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 70px;
}
.box-img4 {
    background-image: url(Géssika-20240122T203149Z-001/Géssika/IMG_5918.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 10px;
    padding-bottom: 100px;
}
.box-img5 {
    background-image: url("Priscila -20240122T203155Z-001/Priscila/capapri1.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;
}
blockquote {
   
    height: 800px;
}

.img-g {
    height: 500px;

}

.img-w {
    height: 400px;
}

.a1 {
    color: white;
}

.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.box {
    width: 60%;

}



.box-text {
    background-color: white;
    color: black;
    width: 500px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding: 30px;
   
   
}

.box-text1{
    background-color: white;
    color: black;
    width: 500px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    height: 840px;
    padding: 30px;
}
.box-text2{
    background-color: white;
    color: black;
    width: 500px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    height: 720px;
    padding: 30px;
}
.box-text3{
    background-color: white;
    color: black;
    width: 500px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
   
    padding: 30px;
}
.box-text4{
    background-color: white;
    color: black;
    width: 500px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding: 30px;
}
.box-text5{
    background-color: white;
    color: black;
    width: 500px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    height: 700px;
    padding: 30px;
}

img {
    width: 100%;
    height: 500px;
}


.img-style {
    width: 400px;
    height: 400px;
}

/* rodape*/
.rodape {
    padding-top: 30px;
    color: white;
    background-color: black;
}

.icon {
    width: 50px;
    height: 50px;
    text-align: right;
}

.icon-position {
    text-align: right;
}

/*text*/
@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Regular.otf);

}

@font-face {
    font-family: 'Aristotelica';
    src: url(Zetafonts\ -\ Aristotelica\ Pro\ Text\ Extralight.otf);

}

.text-center {
    font-family: 'Montserrat';
    font-size: 17px;
    text-align: justify;
    line-height: 30px;
}

.text-center-citacao {
    font-family: 'Montserrat';
    font-size: 17px;
    text-align: justify;
    line-height: 30px;

    float: left;


}

.text-center-citacao1 {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    float: right;

}

.text-center-citacao2 {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
    font-weight: bold;
}

.body-site {
    padding-top: 20px;
    padding-bottom: 10px;

}


.text-head {
    text-align: center;
    width: 100%;
}

.text-body {
    font-size: 20px;
    line-height: 30px;

    font-weight: bold;

}

.title {
    font-size: 50px;
    font-family: 'Aristotelica';
    color: #640059;
    font-weight: bold;
    padding-top: 20px;
}
.sub-title {
    font-size: 35px;
    font-family: 'Aristotelica';
    color: #640059;
    font-weight: bold;
    padding-top: 20px;
}
.title-one {
    font-size: 70px;


    color: #640059;
    font-weight: bold;
  
}

.data-publi {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.fonts {
    font-size: 12px;
    padding-left: 40%;
}

.fonts1 {
    font-size: 14px;

}

.fonts2 {
    font-size: 14px;
    padding-left: 5%;
}

.aspas {
    width: 90px;
    height: 50px;

}

.aspas1 {
    width: 90px;
    height: 50px;
    float: right;
    text-align: left;
    padding-right: 11%;
}

/* Audio */
.audio-box {
    width: 100%;
    height: 150px;
    background-color: rgba(242, 242, 242, 255);

    border-radius: 20px;
    display: flex;

}
.audio1{
    width: 50px;
}

.img-audio {
    width: 160px;
    height: 140px;
    padding: 4px;
    border-radius: 20px;
    float: left;
}

.a {
    padding-left: 10px;
    flex-direction: column;
    float: left;
    text-align: left;

}

.teste {
    font-size: 20px;
}

audio {
    width: 550px;
    float: right;
    padding-right: 50px;

}

.player {
    width: 640px;

    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;

    position: relative;
    border-radius: 64px;
}

.control,
#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 20px;
}

.control {

    padding-left: 260px
}

#playbtn {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

#playbtn1 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

#playbtn3 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* WANESSA*/
#playbtnW {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

#playbtnW1 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* PRISCILA*/
#playbtnP {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* PRISCILA 1*/
#playbtnP1 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

#playbtnP1:hover {
    background-color: rgba(242, 242, 242, 255);
}

/* PRISCILA 2*/
#playbtnP2 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* PRISCILA 3*/
#playbtnP3 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* Raissa*/
#playbtnR {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* Raissa 1*/
#playbtnR1 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* Raissa 2*/
#playbtnR2 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* Licia */
#playbtnL {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* Licia1 */
#playbtnL1 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* Polyana*/
#playbtnPy {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

/* Polyana 1*/
#playbtnPy1 {
    font-size: 24px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #640059;
    cursor: pointer;
    padding-top: 15px;
    padding-left: 10px;
}

.control {

    padding-left: 260px
}

.current-class {
    text-align: right;
    padding-right: 350px;

}



#progress {
    display: block;
    width: var(--progress, 0%);
    background-color: rgb(255, 0, 0);
    transition: all 1s linear;
    height: 100%;
}

.audiobody {
    min-height: 100vh;
    padding-top: 20px;

    color: #B948AB;
}

.botao-audio {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    background-color: #0059be;
    border: 1px solid #000000;

}



.img-botao {
    width: 28px;
    height: 25px;

}

.marquee {
    padding-top: 40px;
    font-family: "Montserrat";
    font-weight: bold
}

.subtitulo {
    padding-top: 10px;
    font-size: 14px;
    font-family: "Montserrat";

}

audio::-webkit-media-controls-panel {
    background-color: rgba(242, 242, 242, 255);
}

audio::-webkit-media-controls-play-button {
    background-color: rgba(242, 242, 242, 255);
    border-radius: 50%;
    display: none;
}

audio::-webkit-media-controls-current-time-display {
    background-color: rgba(242, 242, 242, 255);
    display: none;
}

audio::-webkit-media-controls-time-remaining-display {
    background-color: rgba(242, 242, 242, 255);
    display: none;

}

audio::-webkit-media-controls-timeline {
    border-radius: 40px;
    background-color: rgba(242, 242, 242, 255);

}

audio::-webkit-media-controls-volume-slider {
    background-color: rgba(242, 242, 242, 255);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;

}


audio::-webkit-media-controls-mute-button {
    background-color: rgba(242, 242, 242, 255);
    border-radius: 50%;

}

video {
    padding-left: 30%;
   
    height: 500px;
    
}

/*nav bar*/
.a-navbar {
    color: rgb(0, 0, 0);
    text-decoration: none;

}


.li-menu {
    padding-top: 55px;
padding-left:50px;

}

.li-menu1 {
    padding-top: 15px;
    padding-left:50px;
}


.logo {
    text-align: center;
    padding-right: 40%;
    font-size: 20px;

}


nav {

    position: fixed;
    display: flex;
    align-items: center;
    width: 67px;

}

.nav-list {
    position: absolute;
    left: 0;
    top: -2.5vh;
    width: 6vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #8f3d8f;
    display: flex;

    list-style: none;
    transform: translate(-100%);
    transition: transform 0.4s ease-in;


}

#button1 {
    position: absolute;
    text-decoration: none;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 7%;
    font-size: "Montserrat";
}

#button2 {
    position: absolute;
    text-decoration: none;
    width: 500px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 22%;
    font-size: "Montserrat";
}
#button3 {
    position: absolute;
    text-decoration: none;
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 9%;
    font-size: "Montserrat";
}
#button4 {
    position: absolute;
    text-decoration: none;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 7%;
    font-size: "Montserrat";
}
#button5 {
    position: absolute;
    text-decoration: none;
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 10%;
    font-size: "Montserrat";

}
#button6{
    position: absolute;
    text-decoration: none;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 10%;
    font-size: "Montserrat";

}
#button7{
    position: absolute;
    text-decoration: none;
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 13%;
    font-size: "Montserrat";

}
#button8{
    position: absolute;
    text-decoration: none;
    width: 600px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right: 15%;
    font-size: "Montserrat";

}
.link:link {
    color:#640059;
    text-decoration:none;
  }
  .link:visited {
    color: #B948AB;
    text-decoration:none;
  }
  .link:hover {
    color: #FD7D3F;
    text-decoration:underline;
  }
  .link:active {
    color:#00ff00;
    text-decoration:underline;
    background-color:#000000;
  }

.descricao {
    display: none;
}

.item:hover .descricao {
    display: block;
    border: 4px solid blue;
}

/* Aqui a mensagem ja está com o display none para já começar escondida*/
.mensagem {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:450px;
    height: 150px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    /*Caso queira, por exemplo que fique ao lado 
  é so mudar o top para 0 e o left ou o right setar com 100%
    top:0;
    left:100%;
    right:0;
    margin: auto;
    width:100px;
    height:20px;
    border:1px solid red;
  
  */
}
/* Aqui a mensagem ja está com o display none para já começar escondida*/
.mensagem3 {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:100%;
    height: 170px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    /*Caso queira, por exemplo que fique ao lado 
  é so mudar o top para 0 e o left ou o right setar com 100%
    top:0;
    left:100%;
    right:0;
    margin: auto;
    width:100px;
    height:20px;
    border:1px solid red;
  
  */
}
/* Aqui a mensagem ja está com o display none para já começar escondida*/
.mensagem2 {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:100%;
    height: 170px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    /*Caso queira, por exemplo que fique ao lado 
  é so mudar o top para 0 e o left ou o right setar com 100%
    top:0;
    left:100%;
    right:0;
    margin: auto;
    width:100px;
    height:20px;
    border:1px solid red;
  
  */
}
.mensagem4 {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:100%;
    height: 100px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    
}
.mensagem5 {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:600px;
    height: 120px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    
}

.mensagem6 {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:300px;
    height: 170px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    
}
.mensagem8 {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:600px;
    height: 200px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    
}
.nav-list li {
    font-family: 'Montserrat';
    margin-right: 100%;
    padding-right: 20px;
    font-size: 15px;

}

.mobile-menu {
    cursor: pointer;
    display: block;
    margin-right: 10%;
    width: 52px;
    padding-left: 80px;
  
    
}

.line {
    transform: translate(-20%);
    width: 110px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 8px;
    color: #B948AB;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #000000;
    margin: 8px;
}

.menu {
    padding-left: 85px;
    align-items: center;
  
    padding-left:50px;
}

.text-menu {
    padding-left: 36px;
    color: #000000;
}

.nav-list.active {
    transform: translateX(0);
}


/*carrosel */


.main-slide {
    max-width: 800px;
    display: flex;
    align-content: end;
    justify-content: right;
    padding-left: 20px;
    padding-top: 20px;

}


.img-s {
    width: 100%;
    height: 400px;
    transition-duration: 1000ms;
    border-radius: 10px;
}

.swiper-button-next {
    transition-duration: 1000ms;
}

.leganda-carrosel {
    position: absolute;
    color: #000000;
    font-size: 18px;
    bottom: 2px;
    background-color: rgb(255, 255, 255, 0.7);
    width: 93%;
    height: 30px;
    text-align: center;
    padding-left: 7%;
    transition: transform 0.5s ease-in;
    font-family: 'Montserrat';
    padding-top: 8px;

}
.leganda-carrosel1 {
    position: absolute;

    color: #000000;
    font-size: 18px;
    bottom: 2px;
    background-color: rgb(255, 255, 255, 0.7);
    width: 93%;
    height: 60px;
    text-align: center;
    padding-left: 7%;
    transition: transform 0.5s ease-in;
    font-family: 'Montserrat';
    padding-top: 8px;

}
.pos-carrosel {
    font-size: 10px;
    color: white;
}

.img-lado {
    width: 50%;
    height: 360px;
    float: left;
    padding-right: 10px;
}
.img-lado1 {
    width: 50%;
    height: 590px;
    float: left;
    padding-top: 8px;
    padding-right: 10px;
}

.r {
    height: 300px;
}

.img-py {
    width: 400px;
    padding-left: 25%;
}

.img-py1 {
    width: 700px;
    padding-left: 5%;
}

.img-fim {
    height: 750px;
    width: 100%;
  
}
.img-r1{
    height: 300px;
    width: 100%;
}
.ico{
    width: 50px;
    height: 50px;
    padding-right: 90px;

}

@media screen and (max-width: 1200px) {

    .titulo {
        font-size: 10px;
    }

    .title {
        font-size: 20px;
    }

    .title1 {
        font-size: 10px;
    }

    .title-one {
        font-size: 40px;
    }

    .text-body {
        font-size: 15px;
    }

    .box {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .audio-box {
        flex-direction: column;
        height: 350px;
        width: 100%;
        height: 300px;
    }

    audio {
        width: 90%;
    }

    .text-center {
        font-size: 10px;
    }

    .text-center-citacao {
        font-size: 10px;


    }

    .text-center-citacao1 {
        font-size: 10px;

    }

    .text-center-citacao2 {
        font-size: 10px;

    }

    .body-site {
        font-size: 10px;


    }


    .text-head {
        text-align: center;

    }



    .li-menu {
    
    padding-left:10px;
    
    }
    
    .li-menu1 {
        padding-top: 10px;
        padding-left:10px;
    }
    .menu {
      
        align-items: center;
      
        padding-left:20px;
    }

    .img-audio {
        width: 160px;
        height: 140px;

    }

    .box-text {
        background-color: white;
        color: black;
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding: 10px;
    }
    .box-text1 {
        background-color: white;
        color: black;
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding: 10px;
    }
    .box-text2 {
        background-color: white;
        color: black;
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding: 10px;
    }
    .box-text3 {
        background-color: white;
        color: black;
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding: 10px;
    }
    .box-text4 {
        background-color: white;
        color: black;
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding: 10px;
    }
    .box-text5{
        background-color: white;
        color: black;
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding: 10px;
    }
    .box-text6{
        background-color: white;
        color: black;
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding: 10px;
    }
    .control {

        display: none;

        padding-left: 0px
    }

    .current-class {
        padding-right: 0px;
    }

    .control,
    #current {
        height: 100%;

        justify-content: center;
        align-items: center;

        padding-left: 20px;
    }

    .mobile-menu {

        
        padding-right: 280px;
    }


    .menu {
        padding-left: 290px;

    }
   
    .nav-list {
        position: absolute;
        left: 0;
        top: -2.0vh;
        width: 10vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
      
        padding-left: 60px;
        display: flex;
        list-style: none;
        transform: translate(-100%);
        transition: transform 0.4s ease-in;


    }

    .main-slide {
        padding-right: 20px;
        padding-left: 20px;


    }

    .leganda-carrosel {
        position: absolute;
        color: #000000;
        font-size: 10px;
        bottom: 2px;
        background-color: rgb(255, 255, 255, 0.7);
        width: 93%;
        height: 30px;
        text-align: center;
        padding-left: 7%;
        transition: transform 0.5s ease-in;
        font-family: 'Montserrat';
        padding-top: 8px;
    }

    .leganda-carrosel1 {
        position: absolute;
        color: #000000;
        font-size: 10px;
        bottom: 2px;
        background-color: rgb(255, 255, 255, 0.7);
        width: 93%;
        height: 30px;
        text-align: center;
        padding-left: 7%;
        transition: transform 0.5s ease-in;
        font-family: 'Montserrat';
        padding-top: 8px;
    }
    .img-s {
        width: 100%;
        height: 300px;
        transition-duration: 1000ms;
        border-radius: 10px;
    }

    .img-py1 {
        width: 100%;
        height: 250px;
        padding-left: 0px;
    }

    .img-py {
        width: 100%;
        height: 400px;
        padding-left: 0px;
    }

    .img-pr {
        width: 100%;
        height: 240px;
    }

    .img-ra {
        width: 100%;
        height: 240px;
    }

    .img-g {
        width: 100%;
        height: 200px;

    }

    .img-w {
        width: 100%;
        height: 250px;

    }

    .img-p {
        width: 100%;
        height: 300px;

    }

    .img-lado {
        height: 300px;
    }
    .img-lado1 {
        height: 300px;
    }
    .img-fim{
        height: 250px;
        width: 100%;
    }
    .Afonte {

        cursor: pointer;

        padding-left: 65%;


    }

.img-cW{
    height: 280px;

}
.mensagem {
   
    width:250px;
    height: 280px;
  

}
/* Aqui a mensagem ja está com o display none para já começar escondida*/
.mensagem3 {
    width:300px;
    height: 230px;
  
}
/* Aqui a mensagem ja está com o display none para já começar escondida*/
.mensagem2 {
    width:250px;
    height: 290px;
  
}.mensagem4 {
    width:250px;
    height: 120px;
  

    
}

.mensagem5 {
    width:250px;
    height: 300px;
  

    
}
#button1 {
    position: absolute;
    text-decoration: none;
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #ff00e1;
    padding-right: 7%;

}

#button2 {
    position: absolute;
    text-decoration: none;
    width:300px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #ff00e1;
    padding-right: 55%;

}
#button3 {
    position: absolute;
    text-decoration: none;
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #ff00e1;
    padding-right: 5%;

}
#button4 {
    position: absolute;
    text-decoration: none;
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #ff00e1;
    padding-right: 10%;

}
#button5 {
    position: absolute;
    text-decoration: none;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #ff00e1;
    padding-right: 10%;

}
#button6{
    position: absolute;
    text-decoration: none;
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #ff00e1;
  

}
#button7{
    position: absolute;
    text-decoration: none;
    width:300px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #ff00e1;
    padding-right: 25%;

}
#button8{
    position: absolute;
    text-decoration: none;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #9400d3;
    padding-right:6%;
    font-size: "Montserrat";

}
.mensagem8 {
    border-radius: 10px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    padding: 10px;
    background-color: rgb(204, 204, 204,0.9);
    display: none;
    position: absolute;
    top: 100%;
    /* Usei % para que voce entenda que da para se adaptar com o tamanho do botão/container ou qualquer outra coisa a qual a mensagem esta relacionada*/
    left: 0;
    right: 0;
    margin: auto;
    width:300px;
    height: 360px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(136, 136, 136);

    
}

}


    
    

@media screen and ( min-width: 1524px)   {
 .box{

width: 45%;
 }
}
